@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post">

<h1>Add Student</h1>
<div class="mt-3">
    <label class="from-label">Name</label>
    <input type="text" class="form-control" />
</div>

<div class="mt-3">
    <label class="from-label">Email</label>
    <input type="email" class="form-control" />
</div>

<div class="mt-3">
    <label class="from-label">Phone Number</label>
    <input type="text" class="form-control" />
</div>

<div class="mt-3">
    <input type="checkbox" class="form-check-input" id="Subscribed" />
    <label class="form-check-label" for="Subscribed">Subscribed</label>
</div>

<div class="mt-3">
    <button type="submit" class="btn btn-primary">Save</button>
</div>
</form>